/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }
  
  /* Modal Content */
  .modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Add Animation */
  @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
/* header */
.header{
    min-height: 10vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(./images/libraryphoto.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.text-box{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    color: white;
    text-align: center;
    transform: translate(-50%, -50%);
}
.text-box h1{
    font-size: 50px;
}
.text-box p{
    font-size: 20px;
    padding: 10px;
}
nav{
    display: flex;
    padding: 0% 4%;
    justify-content: space-between;
    align-items:center ;
}
nav img{
    width: 160px;

}
.nav-link{
    text-align: right;
    position: absolute;
    top:40%;
    right: 80px;
}
.nav-link ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 18px;
    position: relative;
}
.nav-link ul li a{
    color: white;
    text-decoration: none;
    font-size: 17px;
}
.nav-link ul li::after{
    content: '';
    width: 0%;
    background: orange;
    display: block;
    height: 2px;
    transition: 0.3s;
    margin: auto;
}
.nav-link ul li:hover::after{
    width: 100%;
}

nav .fa{
    display: none;
}


/* input boxes */

.input-group-addon.primary {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}
.input-group-addon.success {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}
.input-group-addon.info {
    color: rgb(255, 255, 255);
    background-color: rgb(57, 179, 215);
    border-color: rgb(38, 154, 188);
}
.input-group-addon.warning {
    color: rgb(255, 255, 255);
    background-color: rgb(240, 173, 78);
    border-color: rgb(238, 162, 54);
}
.input-group-addon.danger {
    color: rgb(255, 255, 255);
    background-color: rgb(217, 83, 79);
    border-color: rgb(212, 63, 58);
}
.container{
    position: relative;
    margin-top: 50px;
    right: 300px;
}

/*welcome mesage box*/
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: absolute;
    top: 25%;
    left: 70%;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000;
}

.glow-on-hover:active:after {
    background: transparent;
}
.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(4,9,30,0.7);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}



/* Report table */
.styled-table {
    position: relative;
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: rgba(4,9,30,0.7);
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid rgba(4,9,30,0.7);
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: rgba(4,9,30,0.7);
}


/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    position: absolute;
    margin-bottom: 0px;
    width: 100%;
    text-align: center;
    font-size: 3vh;
  }

  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }

  /* media queries*/
  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    body{
        overflow-x: hidden;
    }
  
    .text-box h1{
        font-size: 30px;
    }
    .text-box p{
        font-size: 15px;
        padding: 10px 15px;
    }
    nav{
        align-items: center;
    }
    .nav-link ul li{
        display: block;
    }
    .nav-link{
        position: absolute;
        top: 0;
        right: -200px;
        height: 100vh;
        width: 200px;
        background: orange;
        z-index: 2; 
        text-align: left;
        transition: 1s;
    }
    nav  .fa{
        display: block;
        color: white;
        font-size: 17px;
        margin: 10px;
        cursor: pointer;
        padding-top: 15px;
    }
    nav ul{
        padding: 20px;
    }

    .container{
        position:relative;
        right:5px;
        
    }

    .glow-on-hover{
        position: relative;
        left: 80px;
        top: 50%;
    }

    .MyCont{
        position: relative;
        width: 99%;
    }

    .styled-table thead{
        display: none;
    }

    .styled-table,.styled-table thead,.styled-table thead th,.styled-table tbody,.styled-table tbody tr,.styled-table tbody tr td{
        position: relative;
        left: 5%;
        width: 155px;
    }
    .styled-table,.styled-table tbody,.styled-table tbody tr,.styled-table tbody tr td{
        display: block;
        position: relative;    
        width: 90%;
    }
    .alert{
        position: absolute;
        width: 100%;
        margin-bottom: 0px;
    }
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width:768px) and (min-width: 600px) {
    body{
        overflow: hidden;
    }
    
    .text-box h1{
        font-size: 30px;
    }
    .text-box p{
        font-size: 15px;
        padding: 10px 15px;
    }
    nav{
        align-items: center;
    }
    .nav-link ul li{
        display: block;
    }
    .nav-link{
        position: absolute;
        top: 0;
        right: -200px;
        height: 100vh;
        width: 200px;
        background: orange;
        z-index: 2; 
        text-align: left;
        transition: 1s;
    }
    nav  .fa{
        display: block;
        color: white;
        font-size: 17px;
        margin: 10px;
        cursor: pointer;
        padding-top: 15px;
    }
    nav ul{
        padding: 20px;
    }

  
    .container{
        position:relative;
        right:5px;
        
    }

    .glow-on-hover{
        position: relative;
        left: 80px;
        top: 50%;
    }

    .MyCont{
        position: relative;
        width: 99%;
    }

    .styled-table thead{
        display: none;
    }

    .styled-table,.styled-table thead,.styled-table thead th,.styled-table tbody,.styled-table tbody tr,.styled-table tbody tr td{
        position: relative;
        left: 5%;
        width: 155px;
    }
    .styled-table,.styled-table tbody,.styled-table tbody tr,.styled-table tbody tr td{
        display: block;
        position: relative;    
        width: 90%;
    }
    .alert{
        position: absolute;
        width: 100%;
        margin-bottom: 0px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}
